.PageHeaderdesktop_Container882301{
    position: relative;
display: flex;
justify-content: space-between;
align-items: center;
height: 41px;
    background: #F58426;}

    
.PageHeaderSearchdesktop_Input882303{
      flex-grow: 1;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Programme, sans-serif;
    font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16", "ss18", "ss19", "ss20", "ss21";
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
   
    resize: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    outline: none;
    padding: 0px 0.125rem 0px 0.5rem;
    margin-left: 10px;

}
.textlabel882309{
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  
}

.textlabel882311{font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  
}

.PageHeaderauthlink_container882307{padding-right: 10;
color: black;}

.Pageheaderdesktop_Subnavigation882300{
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #006BB6;;
    color: black;}

.Pageheaderdesktop_Subnavigation882301{padding:2rem;color: black;line-height: 1;padding: 0pc 2.25rem;}

.Pageheaderdesktop_Subnavigation882302 {padding:2rem;color:black;line-height: 1;padding: 0pc 2.25rem;}

.Pageheaderdesktop_Subnavigation882303 {padding:2rem;color:black;line-height: 1;padding: 0pc 2.25rem;}

.Pageheaderdesktop_Subnavigation882304 {padding:2rem;color:black;line-height: 1;padding: 0pc 2.25rem;}
    
.TextLabel882302{
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.TextLabel882303{
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.TextLabel882304{
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.TextLabel882305{
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Pageheaderdesktop_link882380{color: white;}


SocialLinks_container882381{color:white;}

.Sociallinks_link882382{padding: 0.5rem;}

.Sociallinks_link882383{padding:0.5rem;}

.Sociallinks_link882384{padding:0.5rem;}

.Sociallinks_link882385{padding:0.5rem;}


 
.HomeContentdesktop__CenteredFlexColumn000{
 position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.HomeContentdesktop_001{
    background-color: rgb(255, 255, 255,);
    padding: 4.5rem 60px;
}

.HomeContentdesktop_002{
    background-color: rgb(255, 255, 255,);
    padding: 4.5rem 60px;
}

.PageGriddesktop003{
      display: grid;
    justify-content: center;
    grid-template-columns: [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(6, minmax(14px, 44px)) [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
    grid-column-gap: 60px;
    grid-row-gap: 40px;
  
}

.TopContentdesktop_004{
    grid-column: span 5 / auto;
}


.EditorialPlacement_Container005{
    color: rgb(0, 0, 0);
    font-weight: 100;
    line-height: 1.125;
    height: 100%;
    min-height: inherit;
}


.EditorialPlacement_006{
        color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: inherit;
}


.EditorialPlacement_Heade007{
    margin-bottom: 1rem;
    
    
    
    
}

.EditorialPlacement_Label008{
    display: flex;
}


.TextLabel009{
    font-size: 0.75;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}




.EditorialPlacement_010{
    margin-top: 1rem;
    font-size: 2.25rem;
}



.EditorialPlacement_010 h2, .EditorialPlacement_010 h3 {
    display: inline;
    font-size: 100%;
  
}

.EditorialPlacement_011{ margin-top: 0.5rem;
}


.TopContentdesktop_012L{
        grid-column: span 7 / auto;
}



.SizedImage__Container013{
       position: relative;
    padding-bottom: 56.25%;
    background: center center / auto calc(100% + 1px) repeat-x rgb(233, 233, 233);
    background-position: center center;
    background-repeat: repeat-x; 
}


    
.TopContentdesktop_Placement014{
        min-height: 400px;
    position: relative;
    grid-column: span 3 / auto;
}

.ftfkgj::before {
    content: "";
    position: absolute;
    top: calc(0.075rem);
    right: calc(-30px - 0.075rem);
    height: 100%;
    min-height: inherit;
    border-right: 0.15rem solid rgb(0, 0, 0);
}

.EditorialPlacement_Container015{
        color: rgb(0, 0, 0);
    font-weight: 100;
    line-height: 1.125;
    height: 100%;
    min-height: inherit;
}

.EditorialPlacement_Link016{
        color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: inherit;
    justify-content: space-between;

}



.editorialplacementheader017{
    margin-bottom: 1rem;
}



.EditorialPlacement__Label018{
    display: flex;
}



.TextLabel019{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}


.EditorialPlacement_020{
    margin-top: 0.75rem;
    font-size:1,5rem;
}


.EditorialPlacement_Author021{
    font size: 0.75rem;
}



.EditorialPlacement_PublishedAt022{
    font-size: 0.75rem;
    color: rgb(154, 154, 154);
}


.EditorialPlacement_Image023{
    margin-top: 0.5rem;
}


.SizedImage_Container024{
 
    position: relative;
    padding-bottom: 56.25%;
    background: center center / auto calc(100% + 1px) repeat-x rgb(233, 233, 233);
    background-position: center center;
     background-repeat: repeat-x;}
    


.TopContentdesktop_Placement025{
        min-height: 400px;
    position: relative;
    grid-column: span 3 / auto;
}

.TopContentdesktop_Placement025::before {
    content: "";
    position: absolute;
    top: calc(0.075rem);
    right: calc(-30px - 0.075rem);
    height: 100%;
    min-height: inherit;
    border-right: 0.15rem solid rgb(0, 0, 0);}

.EditorialPlacement_Container026{ 
    color: rgb(0, 0, 0);
    font-weight: 100;
    line-height: 1.125;
    height: 100%;
    min-height: inherit;
    
}

.EditorialPlacement_027{
   color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: inherit;
    justify-content: space-between;
}

.EditorialPlacement_Header028{
    margin-bottom: 1rem;
}

.EditorialPlacement_Label029{
    display: flex;
}

TextLabel030












html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
<style>
*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
<style>
body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Programme, sans-serif;
    line-height: 1.45;
    text-size-adjust: 100%;
}
<style>
html {
    line-height: 1;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
<style>
*, ::before, ::after {
    box-sizing: border-box;
}
<style>
*, ::before, ::after {
    box-sizing: border-box;
}
<style>
::selection {
    background-color: rgb(178, 215, 254);
}
align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 100);
}

.HomeContentdesktop__CenteredFlexColumn08beko{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.HomeContentdesktop_07beko
{
    background-color: rgb(255, 255, 255);
    padding: 4.5rem 60px;
}







